clusterA/data/transit/core
clusterA/data/transit/logical
clusterA/data/transit/sys
clusterA/data/transit/init_done
clusterA/data/transit/root_token-vault_1
clusterA/data/transit/unseal_key-vault_1

clusterB/data/transit/core
clusterB/data/transit/logical
clusterB/data/transit/sys
clusterB/data/transit/init_done
clusterB/data/transit/root_token-vault_1
clusterB/data/transit/unseal_key-vault_1

clusterC/data/transit/core
clusterC/data/transit/logical
clusterC/data/transit/sys
clusterC/data/transit/init_done
clusterC/data/transit/root_token-vault_1
clusterC/data/transit/unseal_key-vault_1

clusterD/data/transit/core
clusterD/data/transit/logical
clusterD/data/transit/sys
clusterD/data/transit/init_done
clusterD/data/transit/root_token-vault_1
clusterD/data/transit/unseal_key-vault_1

keys.txt
*.json
*.db
*.lic
