shared/cluster_a_wrapping_token
shared/cluster_a_wrapping_token_ready

cluster-a/data/transit/core
cluster-a/data/transit/logical
cluster-a/data/transit/sys
cluster-a/data/transit/init_done
cluster-a/data/transit/root_token-vault_1
cluster-a/data/transit/unseal_key-vault_1

cluster-b/data/transit/core
cluster-b/data/transit/logical
cluster-b/data/transit/sys
cluster-b/data/transit/init_done
cluster-b/data/transit/root_token-vault_1
cluster-b/data/transit/unseal_key-vault_1

cluster-c/data/transit/core
cluster-c/data/transit/logical
cluster-c/data/transit/sys
cluster-c/data/transit/init_done
cluster-c/data/transit/root_token-vault_1
cluster-c/data/transit/unseal_key-vault_1

cluster-d/data/transit/core
cluster-d/data/transit/logical
cluster-d/data/transit/sys
cluster-d/data/transit/init_done
cluster-d/data/transit/root_token-vault_1
cluster-d/data/transit/unseal_key-vault_1

keys.txt
*.json
*.db
*.lic
.env
